{% extends "group/base_form_page.html" %}

{% block subtitle %}{{ _('Buat Kategori') }}{% endblock %}

{% block breadcrumb_link %}{{ h.nav_link(_('Buat Kategori'), named_route=group_type+'.new') }}{% endblock %}

{% block page_heading %}{{ _('Buat Kategori') }}{% endblock %}

{% block page_header %}{% endblock %}

{% block secondary_content %}
  {% snippet "group/snippets/helper.html" %}
{% endblock %}

{# 🔹 Tambahan auto-isi tag insight kalau ada query ?insight=1 #}
{% block form %}
  {{ super() }}
  {% if request.params.get('insight') %}
    <input type="hidden" name="tag_string" value="insight">
  {% endif %}
{% endblock %}
