{% extends "page.html" %}

{% block subtitle %}Insight{% endblock %}

{% block primary %}
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Daftar Insight</h2>
    {% if c.user %}
    <a class="btn btn-primary" 
       href="{{ h.url_for(group_type + '.new') }}?insight=1"
       style="margin-left:10px;">
      <i class="fa fa-lightbulb-o"></i> {{ _('Tambah Insight') }}
    </a>
  {% endif %}
  </div>

  <ul>
    {% for group in groups %}
      <li>
        <a href="{{ h.url_for('group.read', id=group.name) }}">
          {{ group.display_name }}
        </a>
      </li>
    {% else %}
      <li><em>Belum ada Insight</em></li>
    {% endfor %}
  </ul>
{% endblock %}
