{% set tags = h.get_facet_items_dict('tags', c.search_facets, limit=3) %}
{% set placeholder = _('Cari Datasets') %}

<div class="module module-search module-narrow module-shallow box">
  <form class="module-content search-form" method="get" action="{% url_for 'dataset.search' %}">
    <h3 class="heading stroked-text">{{ _("Mau cari Data Apa?") }}</h3>
    <h5 class="heading stroked-text" style="font-size: large;">{{ _("Mudah, praktis dan akurat") }}</h5>
    <div class="search-input form-group search-giant">
      <input aria-label="{% block header_site_search_label %}{{ _('Cari datasets') }}{% endblock %}" id="field-main-search" type="text" class="form-control" name="q" value="" autocomplete="off" placeholder="{% block search_placeholder %}{{ placeholder }}{% endblock %}" />
      <button type="submit" aria-labelledby="search-label">
        <i class="fa fa-search"></i>  
        <span class="sr-only" id="search-label">{{ _('Cari') }}</span>
      </button>
    </div>
  </form>
</div>

<style>
  .stroked-text {
    color: #fff; /* warna teks */
    -webkit-text-stroke: 1px #000; /* garis tepi hitam */
    text-stroke: 1px #000; /* untuk browser yang support */
  }
</style>
